# Credenciales necesarias para que funcione el formulario de contacto usando EmailJS en Vite.
# EMAIL JS
VITE_EMAILJS_SERVICE_ID=tu_service_id_aqui
VITE_EMAILJS_TEMPLATE=tu_template_id_aqui
VITE_EMAILJS_USER_ID=tu_public_key_aqui