/* Botón CV */
.container-cv {
    gap: 2.5rem;
}

.btn-cv {
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border-radius: 1.5rem;
    transition: all 0.4s ease-in-out;
}

.btn-cv:hover {
    background-color: #0d6efd;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(13, 110, 253, 0.4);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .container-cv {
        flex-direction: column;
        gap: 2rem;
        margin-top: 2.5rem;
    }
}