.projects-container {
    max-width: 70vw;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
}

.project-card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: auto;
    width: auto;
    cursor: pointer;
    transition: all 0.4s ease;
    background-color: #000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: all 0.4s ease;
}

.project-card:hover .project-image {
    filter: brightness(15%);
}

.overlay {
    position: absolute;
    inset: 0;
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

.project-card:hover .overlay {
    opacity: 100%;
    pointer-events: auto;
}

.project-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.project-description {
    font-size: 1rem;
    font-weight: 600;
    color: #ccc;
}

.tech-icon {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    color: #0d6efd;
    transition: all 0.3s ease;
    position: relative;
}

/* Animación hover */
.tech-icon:hover {
    transform: scale(0.95);
    background-color: rgba(13, 110, 253, 0.2);
    box-shadow: 1px 1px 10px rgba(13, 110, 253, 0.6);
}

/* Tooltip */
.tech-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #0d6efd;
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 0.7rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 99;
}

.tech-icon:hover::after {
    opacity: 1;
    bottom: -38px;
}

.btn-outline-custom {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 999px;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-outline-custom:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.5);
    color: #fff;
    transform: translateY(-2px);
}

body.light .btn-outline-custom {
    border-color: #222;
    color: #222;
}

body.light .btn-outline-custom:hover {
    background-color: #0d6efd;
    color: #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .projects-container {
        max-width: 100vw;
        padding: 1rem;
    }

    .project-title {
        font-size: 1rem;
    }

    .project-description {
        font-size: 0.9rem;
    }

    .tech-icon {
        font-size: 1.4rem;
        padding: 0.1rem 0.4rem;
    }
}