* {
    margin: 0;
    padding: 0;
}

body.light {
    background-color: #f0f6f8;
    color: #020a15;
}

body.dark {
    background-color: #020a15;
    color: #f0f6f8;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}